body {
  background-color: #2a2b2a;
  padding: 5% 8% 0 8%;
}

.container {
  max-width: 600px;
}

p {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #f8f4e3;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  opacity: 1;
  transition: all ease-out 750ms;

  &.secondary {
    font-size: 16px;
    line-height: 28px;
  }

  span.wrapper {
    .highlighted {
      color: #ff8966;
    }
    .detail {
      display: none;
      color: #706c61;
    }

    &:hover {
      .detail {
        display: inline;
      }
    }
  }
}

a {
  color: #ff8966;
}
