body {
  background-color: #2a2b2a;
  padding: 5% 8% 0 8%;
}

.container {
  max-width: 530px;
}

p {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #f8f4e3;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  opacity: 1;
  transition: all ease-out 750ms;

  &.secondary {
    font-size: 16px;
    line-height: 28px;
  }

  span.wrapper {
    .highlighted {
      color: #ff8966;
    }
    .detail {
      display: none;
      color: #706c61;
    }

    &:hover {
      .detail {
        display: inline;
      }
    }
  }
}

a {
  color: #ff8966;
}

//   span.highlighted,
//   a {
//     color: #ff8966;
//   }

//   &:hover {
//     display: none;
//   }

//   a {
//     text-decoration: none;

//     &:hover {
//       text-decoration: underline;
//     }
//   }

//   span.detail {
//     color: #f8f4e3;
//     display: none;
//   }
// }

nav {
  margin-top: 15px;
  width: 390px;
  height: 49px;
  overflow: hidden;

  a {
    position: relative;
    width: 49px;
    height: 49px;
    display: inline-block;
    margin-right: 35px;
    opacity: 0;
    transition: all ease-in 600ms;

    &:last-child {
      margin-right: 0;
    }

    .i,
    .h {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all ease-out 600ms;
    }

    .i {
      opacity: 1;
    }
    .h {
      opacity: 0;
    }

    &:hover {
      .i {
        opacity: 0;
      }
      .h {
        opacity: 1;
      }
    }

    &.github {
      transition-delay: 2s;

      .i {
        background: url(../images/github.svg) no-repeat center center;
      }
      .h {
        background: url(../images/github-hover.svg) no-repeat center center;
      }
    }
    &.codepen {
      transition-delay: 2.5s;

      .i {
        background: url(../images/codepen.svg) no-repeat center center;
      }
      .h {
        background: url(../images/codepen-hover.svg) no-repeat center center;
      }
    }
    &.linkedin {
      transition-delay: 3s;

      .i {
        background: url(../images/linkedin.svg) no-repeat center center;
      }
      .h {
        background: url(../images/linkedin-hover.svg) no-repeat center center;
      }
    }
    &.mail {
      transition-delay: 3.5s;

      .i {
        background: url(../images/gmail.svg) no-repeat center center;
      }
      .h {
        background: url(../images/gmail-hover.svg) no-repeat center center;
      }
    }
    &.wordpress {
      transition-delay: 4s;

      .i {
        background: url(../images/wordpress.svg) no-repeat center center;
      }
      .h {
        background: url(../images/wordpress-hover.svg) no-repeat center center;
      }
    }

    .l & {
      opacity: 1;
    }
  }
}
